.container{
    width: 1440px;
    margin: 0 auto;
}
.top_container{
    display: flex;
    justify-content: left;
    height: 94px;
    margin-bottom: 34px;
    
}

.top_container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-right: 306px;
    color: #339933; 
}


.back {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #ffffff; 
}


.back p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-right: 17px;
    background: linear-gradient(90deg, #02f902, #10c810, #297c29, #456d45);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: textShift 4s linear infinite;
}

@keyframes textShift {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}




.cart_container{
    display: flex;    
    align-items: top;  
     
   
}

.product_cart_container{
    display: flex;  
    justify-content: center;
    flex-direction: column;
    width: 844px;
    margin-right: 30px;
       
}