.categories_container {
    margin: 0 auto;
    width: 1440px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 32px;
    background-color: #ffffff; 
    padding: 20px; 
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.h2 {
    margin: 40px auto;
    width: 1440px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 80px;
    color: #339933; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}
