.sorting {
    display: flex;
    align-items: center;
    gap: 42px;
  }
  
  .sorting p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #339933; 
  }
  
  .sorting select {
    width: 219px;
    height: 40px;
    border: 1px solid black;
    border-radius: 7px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #fff;
    color: #000000; 
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .sorting select:hover {
    background-color: #ffffff;
    color: #339933;
    box-shadow: 0 0 5px rgba(228, 223, 223, 0.2);
  }
  